h1{
    color : yellow;
    font-size: 50px
}

p{
    text-align :center;
    color: red;
}
#box{
    height: 100px;
    width: 50%;
    background-color: rgb(25, 0, 255);
    border: solid black 2px;
} 
.box{
    height: 150px;
    width: 75%;
    background-color: lightblue;
    border: solid red 2px;
}
body{
    background-image:url(https://images.pexels.com/photos/1519088/pexels-photo-1519088.jpeg?auto=compress&cs=tinysrgb&w=600);
    background-repeat: no-repeat;
    
}
.box{
    height: 145px;
    width: 60%;
    border: solid black 2px;
    background-color: rgb(25, 0, 255);
    margin: 20px 40px 20px 60px;
    padding: 20px;
}
