*{
    margin: 0;
    padding: 0;
}
.mainframe{
    height: 850px;
    width: 90%;
    margin: 70px;
    background-color: rgb(249, 250, 251)
}
.logo{
    height: 80px;
    width: 100%;
    text-align: center;
    background-color: rgb(188, 192, 194);
}
.box{
    height: 80px;
    width: 100%;
    margin-top: 10px;
    background-color: rgb(188, 192, 194);
    display: flex;
}
.home{
    height: 80px;
    width: 5%;
    text-align: center;
    margin-left: 500px;
    background-color: rgb(188, 192, 194);
}
.products{
    height: 80px;
    width: 5%;
    text-align: center;
    background-color: rgb(188, 192, 194);
}
.services{
    height: 80px;
    width: 6%;
    text-align: center;
    background-color: rgb(188, 192, 194);
}
.about{
    height: 80px;
    width: 4%;
    text-align: center;
    background-color: rgb(188, 192, 194);
}
.contact{
    height: 80px;
    width: 5%;
    text-align: center;
    background-color: rgb(188, 192, 194);

}
.feature{
    height: 250px;
    width: 100%;
    margin-top: 20px;
    text-align: center;
    background-color: rgb(188, 192, 194);
}
.frame{
    height: 300px;
    width: 100%;
    margin-top: 15px;
    background-color: rgb(249, 250, 251);
    display: flex;
}
.column1{
    height: 300px;
    width: 32.5%;
    text-align: center;
    background-color: rgb(188, 192, 194);
}
.column2{
    height: 300px;
    width: 32.5%;
    margin-left: 20px;
    text-align: center;
    background-color: rgb(188, 192, 194);
}
.column3{
    height: 300px;
    width: 32%;
    text-align: center;
    margin-left: 20px;
    background-color: rgb(188, 192, 194);
}
.copyright{
    height: 80px;
    width: 100%;
   margin-top: 15px;
    text-align: center;
    background-color: rgb(188, 192, 194);
}