.mainframe{
    height: 600px;
    width: 80%;
    color: aliceblue;
    margin: 150px;
    background-color: rgb(218, 216, 220);
}
.navigation{
    height: 60px;
    width: 90%;
    margin-left: 55px;
    text-align: center;
    background-color: rgb(116, 115, 114);
}
.introduction{
    height: 90px;
    width: 88%;
    text-align: center;
    margin-left: 65px;
    background-color: rgb(116, 115, 114);
}
.frame{
    height: 250px;
    width: 88%;
    margin-top: 15px;
    margin-left: 65px;
    background-color: rgb(218, 216, 220);
    display: flex;
}
.box1{
    height: 250px;
    width: 60%;
    color: aliceblue;
    text-align: center;
    background-color: rgb(38, 39, 40);
}
.box2{
    height: 250px;
    width: 40%;
    text-align: center;
    margin-left: 20px;
    background-color: rgb(153, 152, 151); 
}
.footer{
    height: 145px;
    width: 88%;
    text-align: center;
    margin-top: 10px;
    margin-left: 65px;
    background-color: rgb(116, 115, 114);
}

