.box1{
    height: 50px;
    width: 100%;
    margin: 5px;
    background-color: rgb(187, 182, 184);
}
.box2{
    height: 50px;
    width: 100%;
    margin: 5px;
    background-color: rgb(187, 182, 184);
}
.box3{
    height: 200px;
    width: 100%;
    margin: 5px;
    background-color: rgb(187, 182, 184);
}
.box4{
    height: 200px;
    width: 100%;
    margin: 5px;
    background-color: rgb(252, 250, 251);
    display: inline-block;
}
.box5{
    height: 198px;
    width: 33.5%;
    margin: 5px;
    vertical-align: top;
    background-color: rgb(187, 182, 184);
    display: inline-block;
}
.box6{
    height: 198px;
    width: 31%;
    margin: 5px;
    background-color: rgb(187, 182, 184);
    display: inline-block;
}
.box7{
    height: 198px;
    width: 29%;
    margin: 5px;
    vertical-align: top;
    background-color: rgb(187, 182, 184);
    display: inline-block;
}
.box8{
    height: 100px;
    width: 100%;
    margin: 5px;
    background-color: rgb(187, 182, 184);
    display: inline-block;
}