.box1{
    height: 100px;
    width: 100%;
    margin: 5px;
    border: solid black;
    background-color: rgb(249, 246, 247);
}
.box2{
    height: 50px;
    width: 100%;
    margin: 5px;
    border: solid black;
    background-color: rgb(113, 107, 109);
    display: inline-block;
}
.box3{
    height: 10px;
    width: 10%;
    margin-left: 500px;
    padding: 2px;
    vertical-align: top;
    background-color: rgb(108, 106, 107);
    display: inline-block;
}
.box4{
    height: 700px;
    width: 100%;
    margin: 10px;
    vertical-align: top;
    border: solid black;
    background-color: rgb(242, 239, 240);
    display: inline-block;
}
.box5{
    height: 340px;
    width: 60%;
    margin: 5px;
    border: solid black;
    background-color: rgb(247, 243, 244);
    display: inline-block;
}
.box6{
    height: 80px;
    width: 90%;
    margin: 10px;
    border: solid black;
    background-color: rgb(187, 182, 184);
    display: inline-block;
}
.box7{
    height: 338px;
    width: 60%;
    margin: 5px;
    border: solid black;
    background-color: rgb(247, 243, 244);
    display: inline-block;
}
.box8{
    height: 80px;
    width: 90%;
    vertical-align: top;
    margin: 10px;
    border: solid black;
    background-color: rgb(187, 182, 184);
    display: inline-block;
}
.box9{
    height: 700px;
    width: 38%;
    padding: 0px;
    margin: 0px;
    vertical-align: top;
    border: solid black;
    background-color: rgb(247, 243, 244);
    display: inline-block;
}
.box10{
    height: 290px;
    width: 98%;
    margin: 2px;
    vertical-align: top;
    border: solid black;
    background-color: rgb(251, 246, 249);
    display: inline-block;
}
.box11{
    height: 80px;
    width: 80%;
    margin: 20px;
    vertical-align: top;
    border: solid black;
    background-color: rgb(175, 172, 173);
    display: inline-block;
}
.box12{
    height: 220px;
    width: 98%;
    margin: 2px;
    vertical-align: top;
    border: solid black;
    background-color: rgb(251, 246, 249);
    display: inline-block;
}
.box13{
    height: 110px;
    width: 80%;
    margin: 20px;
    vertical-align: top;
    border: solid black;
    background-color: rgb(175, 172, 173);
    display: inline-block;
}
.box14{
    height: 168px;
    width: 98%;
    margin: 2px;
    vertical-align: top;
    border: solid black;
    background-color: rgb(251, 246, 249);
    display: inline-block;
}
.box15{
    height: 100px;
    width: 100%;
    margin: 5px;
    border: solid black;
    background-color: rgb(249, 246, 247);
}




