.box1{
    height: 100px;
    width: 100%;
    background-color: rgb(94, 83, 87);
}
.box2{
    height: 80px;
    width: 100%;
    margin: px;
    background-color: rgb(203, 197, 199);
}
.box3{
    height: 400px;
    margin: 5px;
    width: 100%;
    background-color: rgb(252, 252, 252);
    display: inline-block;
}
.box4{
    height: 390px;
    margin: 25px;
    width: 60%;
    vertical-align: top;
    background-color: rgb(203, 197, 199);
    display: inline-block;
}
.box5{
    height: 390px;
    margin: 23px;
    width: 21%;
    background-color: rgb(203, 197, 199);
    display: inline-block;
}
.box6{
    height: 100px;
    width: 100%;
    background-color: rgb(94, 83, 87);
}
