body{
    background-color: rgb(246, 248, 250);
}
.box1{
    height: 70px;
    width: 100%;
    margin: 0px;
    border: solid black;
    background-color: rgb(214, 213, 213);

}
.box2{
    height: 70px;
    width: 100%;
    margin: 0px;
    border: solid black;
    background-color: rgb(211, 209, 210);
}
.box3{
    height: 200px;
    width: 100%;
    margin: 0px;
    border: solid black;
    background-color: rgb(248, 246, 246);
    display: inline-block;
}
.box4{
    height: 197px;
    width: 50%;
    border: solid black;
    background-color: rgb(213, 209, 211);
    display: inline-block;
}
.box5{
    height: 197px;
    width: 47.5%;
    border: solid black;
    vertical-align: top;
    background-color: rgb(251, 248, 250);
    display: inline-block;
}
.box6{
    height: 93px;
    width: 98%;
    border: solid black;
    background-color: rgb(231, 226, 229);
    display: inline-block;
}
.box7{
    height: 93px;
    width: 98%;
    border: solid black;
    background-color: rgb(222, 219, 221);
    display: inline-block;
}
.box8{
    height: 70px;
    width: 100%;
    margin: 0px;
    border: solid black;
    background-color: rgb(209, 209, 209);
}
.box9{
    height: 70px;
    width: 100%;
    margin: 0px;
    border: solid black;
    background-color: rgb(221, 217, 219);
}


