.box1{
    height: 100px;
    width: 100%;
    background-color: rgb(239, 243, 21);
}
.box2{
    height: 300px;
    width: 100%;
    display: inline-block;
}
.box3{
    height: 297px;
    width: 30.3%;
    background-color: rgb(94, 9, 231);
    display: inline-block;
}
.box4{
    height: 297px;
    width: 67.50%;
    background-color: rgb(7, 153, 85);
    display: inline-block;
}
.box5{
    height: 70px;
    width: 100%;
    background-color: rgb(209, 71, 8);
}


